# Ignore .idea folder (created by JetBrains IDEs like PyCharm)
.idea/

# Ignore checkpoints folder
.ipynb_checkpoints/

large code files/

output_species1/

output_species2/
# Ignore all log files
*.log

darkness_analysis_results.csv

tone_analysis_results.csv

# Ignore temporary files
*.tmp

/Features_Analysis/Original_Images/
/Features_Analysis/Colored_Images/
